.my-class-form-wrapper {
    background-image: url('https://rae-portfolio-cdn.s3.us-east-2.amazonaws.com/images/img-8.jpg');
    height: 100vh;
}

.my-class-form {
    display: flex;
    justify-content: center;
}

.my-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%;
    max-width: 80vh;
    background: #e2e2e2;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    border: none;
    border-radius: 16px;
    padding: 32px;
    margin-top: 10vh;
}

.form-label-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2vh 0;
}

input[type=submit] {
    border: none;
    border-radius: 16px;
    background-color: #020efc;
    color: #ffffff;
    margin-top: 1vh;
    padding: 2vh 0;
    transition: all 0.3s ease-out;
}

input[type=submit]:hover {
    border: solid 1px #ffffff;
    font-size: larger;
    transition: all 0.3s ease-out;
}

.form-input-flex {
    margin-left: 1vh;
    flex-grow: 2;
}

.single-line:focus {
    height: 5vh;
}

.multi-line {
    resize: none;
    text-decoration: none;
}

.multi-line:focus {
    height: 10vh;
}

.contact-recaptcha {
    padding: 2vh 0;
}

/* Media Queries */

@media screen and (max-width: 960px) {
    .single-line:focus {
        height: 7vh;
    }

    .multi-line:focus {
        height: 20vh;
    }

    .form-input-flex {
        margin-left: 0;
        width: 100vh;
        flex-grow: 2;
    }
}

@media screen and (max-width: 408px) {
    iframe {
        width: 48%;
    }
}