.my-class-form-wrapper {
    background-image: url('../images/img-8.jpg');
    height: 100vh;
}

.my-class-form {
    display: flex;
    justify-content: center;
}

.my-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%;
    max-width: 80vh;
    background-color: #ffffff;
    border: none;
    border-radius: 16px;
    padding: 32px;
    margin-top: 10vh;
}

.form-label-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vh 0;
}

input[type=submit] {
    border: none;
    border-radius: 16px;
    background-color: #020efc;
    color: #ffffff;
    margin-top: 1vh;
}

.form-input-flex {
    margin-left: 1vh;
    flex-grow: 2;
}